<nav class="navbar navbar-default">
    <div class="container">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">AgriExt</a>
        </div>
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/inicio">Início</a></li>
          <li routerLinkActive="active"><a routerLink="/modelo">Gerar Modelo</a></li>
          <li routerLinkActive="active"><a routerLink="/et">Gerar ET0</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
  
    <div class="row">
      <div class="text-center ">
        <h2 class="h2">
          {{ title }}
        </h2>
      </div>
    </div>
  
    <div class="row ">
  
    </div>
  </div>