<div class="container">
    <div class="row ">
        <!-- Small button group-->
        <div class="col-md-4 col-md-offset-1 text-center jumbotron">
            <h4>Algoritmos de classificação</h4>
            <select class="form-control form-control-md" [(ngModel)]="select" (ngModelChange)="gerar($event)">
              <option [ngValue] = "1">Regressão Linear</option>
              <option [ngValue] = "0">M5P</option>
          </select>
            <br>
            <div class="input-group input-group-md">
                <span class="input-group-addon" id="sizing-addon1">CLASS</span>
                <fieldset disabled>
                    <input type="text" class="form-control" placeholder="ET0" aria-describedby="sizing-addon1">
                </fieldset>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-1 text-center jumbotron">
            <div class="text-center">
                <h4>Resultado</h4>
                <fieldset disabled>
                    <div class="form-group row" *ngIf="avaliacao">
                        <label for="example-text-input" class="col-md-2 col-form-label">AVALIAÇÃO DO MODELO</label>
                        <div class="col-md-10">
                            <textarea class="form-control" id="exampleTextarea" rows="5">
                               {{avaliacao}}
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="modelo">
                        <label for="example-text-input" class="col-md-2 col-form-label">MODELO</label>
                        <div class="col-md-10">
                            <textarea class="form-control" id="exampleTextarea" rows="5">
                                {{modelo}}
                            </textarea>
                        </div>
                    </div>
                </fieldset>
                <div ng-if="getURL() != null">
                    <a class="btn btn-info btn-md" href="{{getURL()}}" download="model.model">EXPORTAR (.model)</a>
                </div>
            </div>

        </div>
    </div>
</div>
